{% extends 'dash/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
   <body>
   
      <div id="root">
         
       
         <main>
            <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
               <div class="container">
                  <div class="row pt-5 pt-md-0">
                     {% include 'dash/head.html' %}
                     <div class="col-12 col-lg-8">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="card border-gray-300 p-0 p-md-4 mb-4 ">
                                 <div class="card-body">
                                    <h3 class="h5 mb-3" style="border-bottom: 3px solid rgb(0, 0, 0); padding: 0px 10px 10px 5px; display: inline-block;">Copy Trader </h3>
                                    <div class="row">
                                       <div class="col-md-6 lg-card-image mb-5" style="background-image: url(https://app.bluefoxs.capital/static/media/copytrade.da0180eea1fc47ecf904.gif);"></div>
                                       <div class="col-md-6 copy-trader-info">
                                          <div class="centered-container">
                                             <div class="centered-inner">
                                                <b>Copy Trading is a software application that enables individuals in the financial markets to automatically copy positions opened and managed by another selected expert trader</b>
                                                <div class="row mt-3">
                    
                                                  <form action="" method="post">
                                                   {% csrf_token %}
                                                   {% include 'messages.html' %}
                                                   <div class="col-md-12 mb-3">
                                                      <div class="mb-3"><label for="expert_code"><b>Enter Expert Code</b></label><input name="id" class="form-control" id="expert_code" type="text" placeholder="Enter Expert Copier Code" required=""></div>
                                                   </div>
                                                   <div class="col-md-12 mb-3">
                                                      <div><button type="submit" class="btn btn-primary">Search Expert</button></div>
                                                   </div>
                                                  </form>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="card border-gray-300 p-0  mb-4 ">
                                 <div class="card-body" style="margin-bottom: -10px;">
                                    <h3 class="h5 mb-3" style="border-bottom: 3px solid rgb(0, 0, 0); padding: 0px 10px 10px 5px; display: inline-block;">My Copy Traders </h3>
                                 </div>
                              </div>
                              <div class="row" style="max-height: 480px; overflow-y: auto;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
       
      </div>
     </body>

{% endblock content %}