{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<!-- End Sidebar -->
        <div class="main-panel bg-dark">
			<div class="content bg-dark">
				<div class="page-inner">
					<div class="mt-2 mb-4">
					    <h1 class="title1 d-inline text-light">Request for Withdrawal</h1>
                        <div class="d-inline">
                            <div class="float-right btn-group">
                     <a class="btn btn-primary btn-sm" href="{% url 'userurl:otp' %}"> <i class="fa fa-envelope"></i> Enter OTP</a>          
                                                               
                            </div>
                        </div>
                        					</div>
					<div>
    </div>					<div>
    </div>                    
					<div class="mb-5 row">
                        <div class="col-lg-8 offset-md-2">
                            <div class="p-md-4 p-2 rounded card bg-dark">
                                <div class="card-body">
                                <div class="mb-3 alert alert-success">
                                    <h4 class="text-dark">Your Payment Method is <strong>Bank withdrawal</strong></h4>
                                </div>
                                    <form action="" method="post">
                                            {% csrf_token %}
                                            {% include 'messages.html' %}
                                        <div class="form-group">
                                            <h5 class="text-light">Enter Amount to withdraw</h5>
                                            <input class="form-control text-light bg-dark" placeholder="Enter Amount" type="number" name="amount" required>
                                        </div>
                                                 <div class="form-group">
                                                    <h5 class="text-light">Enter Account number </h5>
                                                    <input class="form-control text-light bg-dark" placeholder="" type="text" name="wal" required>
                                                  
                                                </div>  
                                                <div class="form-group">
                                                    <h5 class="text-light">Enter Account name</h5>
                                                    <input class="form-control text-light bg-dark" placeholder="" type="text" required>
                                                  
                                                </div>
                                                <div class="form-group">
                                                    <h5 class="text-light">Enter Bank name</h5>
                                                    <input class="form-control text-light bg-dark" placeholder="" type="text" required>
                                                   
                                                </div>  
                                                <div class="form-group">
                                                    <h5 class="text-light">Enter swift code</h5>
                                                    <input class="form-control text-light bg-dark" placeholder="" type="text" required>
                                                   
                                                </div>  
                                                                                        
                                        <div class="form-group">
                                            <button class="btn btn-primary" type='submit'><i class="fa fa-envelope"></i>Request Otp</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
					<footer class="footer bg-dark text-light">
					<div class="container-fluid">
						<div class="text-center row copyright text-align-center">
							<p>All Rights Reserved &copy; Seapaltradingfx 2021</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

	{% endblock content %}