{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-4">
                        <div class="page-title-content">
                            <h3>Dashboard</h3>
                            <p class="mb-2">Welcome {{user.username}} to your Dashboard</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Dashboard</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Stats</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-primary"><span><i
                                                    class="ri-wallet-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.totalprofit}}</h3>
                                            <p>Total Profit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-secondary"><span><i
                                                    class="ri-wallet-2-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.totaldeposit}}</h3>
                                            <p>Total Balance</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-success"><span><i
                                                    class="ri-wallet-3-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.accountbalance}}</h3>
                                            <p>Current Rate</p>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card" data-aos="fade-up">
                        <div class="card-header">
                            <h4 class="card-title">Expenses</h4>
                        </div>
                        <div class="card-body">
                            <div class="tradingview-widget-container" style="margin:30px 0px 10px 0px;">
                                <div id="tradingview_f933e"></div>
                                <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text"></span> <span class="blue-text">Personal trading chart</span></a></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget(
                                {
                                "width": "100%",
                                "height": "550",
                                "symbol": "COINBASE:BTCUSD",
                                "interval": "1",
                                "timezone": "Etc/UTC",
                                "theme": 'light',
                                "style": "9",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "hide_side_toolbar": false,
                                "allow_symbol_change": true,
                                "calendar": false,
                                "studies": [
                                  "BB@tv-basicstudies"
                                ],
                                "container_id": "tradingview_f933e"
                              }
                                );
                                </script>
                              </div>
                           
                        </div>
                    </div>
                </div>
               
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="credit-card visa">
                                <div class="type-brand">
                                    <h4>Debit Card</h4>
                                    <img src="images/cc/visa.png" alt="">
                                </div>
                                <div class="cc-number">
                                    <h6>1234</h6>
                                    <h6>5678</h6>
                                    <h6>7890</h6>
                                    <h6>9875</h6>
                                </div>
                                <div class="cc-holder-exp">
                                    <h5>{{user.username}}</h5>
                                    <div class="exp"><span>EXP:</span><strong>10/25</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12">
                            <div class="credit-card payoneer">
                                <div class="type-brand">
                                    <h4>Debit Card</h4>
                                    <img src="images/cc/payoneer.png" alt="">
                                </div>
                                <div class="cc-number">
                                    <h6>1234</h6>
                                    <h6>5678</h6>
                                    <h6>7890</h6>
                                    <h6>9875</h6>
                                </div>
                                <div class="cc-holder-exp">
                                    <h5>{{user.username}}</h5>
                                    <div class="exp"><span>EXP:</span><strong>10/25</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Balance Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="total-balance">
                                        <p>Total Balance</p>
                                        <h2>${{user.totaldeposit}}</h2>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Statistics</h4>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="most-selling-items"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transaction History</h4>
                            <a href="#">See more</a>
                        </div>
                        <div class="card-body">
                            <div class="invoice-content">
                                <ul>
                                    {% for i in qs %}
                                    <li class="d-flex justify-content-between active">
                                        <div class="d-flex align-items-center">
                                            <div class="invoice-user-img me-3"><img src="/static/images/avatar/1.jpg" alt=""
                                                    width="50"></div>
                                            <div class="invoice-info">
                                                <h5 class="mb-0">{{i.user.username}}</h5>
                                                <p>{{i.created}}</p>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <h5 class="mb-2">{{i.amount}}</h5>
                                            <span class=" text-white bg-success">{{i.accountnumber}}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>



</div>





</body>
{% endblock content %}