<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="120x120" href="/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo.png">
    <link rel="mask-icon" href="/logo.png" color="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/static/vendor/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/static/vendor/@glidejs/glide/dist/css/glide.theme.min.css">
    <link href="/static/css/pixel.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <title>Blue Fox Capital</title>
   
    
    <link href="/static/css/main.83b911d8.css" rel="stylesheet">
    <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = '64a226446d47e5dc42758f6599a56e4086768ec0';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  </head>
  
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div>
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark " data-background="" style="background-color: rgb(245, 245, 245);">
          <div class="container">
            <center style="margin-top: -70px;">
              <img src="https://app.bluefoxs.capital/static/media/logo.535d34c0347215b00d47.png" width="40" alt="logo" class="auth-logo mb-4">
            </center>
            <div class="row justify-content-center">
              <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                  <div class="text-center text-md-center mb-4 mt-md-0">
                    <h1 class="mb-0 h3">Sign in to our platform</h1>
                  </div>
                  <form action="" method="post" class="mt-4">
                    {% csrf_token %}
                                        {% include 'messages.html' %}
                    <div class="form-group mb-4">
                      <label for="email">Your Username</label>
                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                          <span class="fas fa-envelope"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" name="username" required="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group mb-4">
                        <label for="password">Your Password</label>
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon2">
                            <span class="fas fa-unlock-alt"></span>
                          </span>
                          <input type="password" placeholder="Password" class="form-control" name="password" required="">
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="form-check mb-0">
                          <input class="form-check-input" type="checkbox" id="remember" value="">
                          <label class="form-check-label mb-0" for="remember">Remember me</label>
                        </div>
                      </div>
                    </div>
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                  </form>
                  <div class="d-flex justify-content-center align-items-center mt-4">
                    <span class="fw-normal">Not registered? <a class="fw-bold text-underline" href="/user/signup/"> Create account</a>
                    </span>
                  </div>
                  <center>
                    <a href="./" class="fw-bold text-underline"> Go to Home</a>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/assets/js/pixel.js"></script>
    <iframe id="chat-application-iframe" title="Smartsupp" aria-hidden="true" style="display: block; position: fixed; top: 0px; left: 0px; width: 1px; height: 1px; opacity: 0; border: none; z-index: -1; pointer-events: none;"></iframe>
    <div id="smartsupp-widget-container">
      <div data-testid="widgetButtonFrame" style="border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.12) 0px 2px 32px 0px; height: 56px; position: fixed; bottom: 24px; left: initial; right: 12px; z-index: 10000000; width: 56px;">
        <iframe id="widgetButtonFrame" title="Smartsupp widget button" style="position: absolute; width: 100%; height: 100%; border: none; display: block; text-align: left; margin: 0px; padding: 0px; top: 0px; left: 0px; opacity: 1;" allowfullscreen="" scrolling="no"></iframe>
      </div>
    </div>
  </body>
</html>