

{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<!-- End Sidebar -->
        <div class="main-panel bg-dark">
			<div class="content bg-dark">
				<div class="page-inner">
					<div class="mt-2 mb-4">
						<h1 class="title1 text-light">Your ROI history</h1>
					</div>
					<div>
    </div>                    <div>
    </div>					<div class="mb-5 row">
						<div class="col text-center card shadow-lg bg-dark p-3">
							<div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
								<table id="UserTable" class="UserTable table table-hover text-light"> 
									<thead> 
										<tr> 
											<th>Plan</th>
											<th>Amount</th>
											<th>Type</th>
											<th>Date created</th>
										</tr> 
									</thead> 
									<tbody> 
                                        {% for i in con %}
                                        <tr>
                                            <td>{{i.plan}}</td>
                                            <td>{{i.ammount}}</td>
                                            <td>{{i.plan}}</td>
                                            <td>{{i.created}}</td>
                                        </tr>
                                        {% endfor %}
									</tbody> 
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- Submit MT4 MODAL modal -->
			<div id="submitmt4modal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
					<div class="modal-header bg-dark">
						<h4 class="modal-title text-light">Subscribe to subscription Trading</h4>
						<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			      </div>
			     	<div class="modal-body bg-dark">
              			<form role="form" method="post">
								<div class="form-row">
								<div class="form-group col-md-6">
									<h5 class="text-light">Subscription Duration</h5>
									<select class="form-control bg-dark text-light" onchange="calcAmount(this)" name="duration" class="duration" id="duratn">
										<option value="default">Select duration</option>
										<option>Monthly</option>
										<option>Quaterly</option>
										<option>Yearly</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light">Amount to Pay</h5>
									<input class="form-control subamount bg-dark text-light" type="text" id="amount" disabled><br/>
									
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">MT4 ID*:</h5>
									<input class="form-control bg-dark text-light"  type="text" name="userid" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">MT4 Password*:</h5>
									<input class="form-control bg-dark text-light"  type="text" name="pswrd" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Account Type:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. Standard" type="text" name="acntype" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Currency*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. USD" type="text" name="currency" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Leverage*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. 1:500"  type="text" name="leverage" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Server*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. HantecGlobal-live"  type="text" name="server" required>
								</div>
								<div class="form-group col-12">
									<small class="text-light">Amount will be deducted from your Account balance</small>
								</div>
								<div class="form-group col-md-6">
									<input id="amountpay" type="hidden" name="amount">
					   				<input type="submit" class="btn btn-primary" value="Subscribe Now">
								</div>
							</div>
					   </form>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- /plans Modal -->
			<script type="text/javascript">
				function calcAmount(sub) {
					if(sub.value=="Quaterly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$40';
						amountpay.value = '40';
					}if(sub.value=="Yearly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$80';
						amountpay.value = '80';
					}if(sub.value=="Monthly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$30';
						amountpay.value = '30';
					}
				}
				</script>					<footer class="footer bg-dark text-light">
					<div class="container-fluid">
						<div class="text-center row copyright text-align-center">
							<p>All Rights Reserved &copy; Seapaltradingfx 2021</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
{% endblock content %}