
<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="VJdnwSYEPLT14XJ1QmFM8MQ5ojYUVuhYIav7ZeVN">
    <title>Ledgerscoin | Account Transactions History</title>
    <link rel="icon" href="https://app.ledgerscoin.com/storage/app/public/photos/g5kZ9yfav.png1637757267" type="image/png"/>
	
				<!-- Fonts and icons -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/webfont/webfont.min.js"></script>
	<!-- Sweet Alert -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
		<!-- CSS Files -->
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/fonts.min.css">
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/atlantis.min.css">
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/customs.css">
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/style.css">
		<link rel="stylesheet" href="https://app.ledgerscoin.com/dash/css/atlantis.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>		
			
		<!-- Bootstrap Notify -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/bootstrap-notify/bootstrap-notify.min.js "></script>
		<script src="https://app.ledgerscoin.com/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
		<!-- Livewire Styles -->
<style>
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>

		 <!--PayPal-->
		 <script>
            // Add your client ID and secret
            var PAYPAL_CLIENT = 'iidjdjdj';
            var PAYPAL_SECRET = 'jijdjkdkdk';
            
            // Point your server to the PayPal API
            var PAYPAL_ORDER_API = 'https://api.paypal.com/v2/checkout/orders/';
        </script>
        <script src="https://www.paypal.com/sdk/js?client-id=iidjdjdj"></script>
		
</head>
<body data-background-color="dark">
    <div id="app">
        
        <!--/PayPal-->
            
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        {tawk to codess}
        </script>
        <!--End of Tawk.to Script-->
		<div class="wrapper">
			        <div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
        <a href="https://app.ledgerscoin.com" class="logo" style="font-size: 27px; color:#fff;">
            Ledgerscoin
        </a>
        <button class="ml-auto navbar-toggler sidenav-toggler" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="icon-menu"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
        
        <div class="container-fluid">
            <div class="text-center d-md-block d-none">
                <a href="https://app.ledgerscoin.com/dashboard/deposits" class="pricing-action btn btn-warning btn-sm">Fund your Account</a> &nbsp;
                <a href="https://app.ledgerscoin.com/dashboard/withdrawals" class="pricing-action btn btn-danger btn-sm">Withdraw Funds</a>
                
            </div>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
               
                <li class="nav-item hidden-caret">
                    <form action="javascript:void(0)" method="post" id="styleform" class="form-inline">
                       
                        <div class="form-group">
                            <label class="style_switch">
                                <input name="style" id="style" type="checkbox" value="true" class="modes">
                                <span class="slider round"></span>
                            </label>
                        </div> 
                                                <script>document.getElementById("style").checked= true;</script>
                                                <input type="hidden" name="_token" value="VJdnwSYEPLT14XJ1QmFM8MQ5ojYUVuhYIav7ZeVN">
                    </form>
                </li>
                               
                                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    
                                    <div class="u-text">
                                        <h4>ewaen</h4>
                                        <p class="text-muted">aiyohuyinewaen@gmail.com</p><a href="https://app.ledgerscoin.com/dashboard/account-settings" class="btn btn-xs btn-secondary btn-sm">Account Settings</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://app.ledgerscoin.com/dashboard/deposits">Deposit</a>
                                <a class="dropdown-item" href="https://app.ledgerscoin.com/dashboard/withdrawals">Withdraw</a>
                                <a class="dropdown-item" href="https://app.ledgerscoin.com/dashboard/buy-plan">Buy Plan</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://app.ledgerscoin.com/logout"
                                    onclick="event.preventDefault();
                                    document.getElementById('logout-form').submit();">
                                    Logout
                                    </a>
                                <form id="logout-form" action="https://app.ledgerscoin.com/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_token" value="VJdnwSYEPLT14XJ1QmFM8MQ5ojYUVuhYIav7ZeVN">
                                </form> 
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
<script type="text/javascript">
    //create investment
        $("#styleform").on('change',function(){
        $.ajax({
            url: "https://app.ledgerscoin.com/dashboard/changetheme",
            type: 'POST',
            data:$("#styleform").serialize(),
            success: function (data) {
				location.reload(true);
            },
            error: function (data) {
                console.log(data);
            },

        });
    });
    
</script>        <!-- Stored in resources/views/child.blade.php -->

<!-- Sidebar -->

<div class="sidebar sidebar-style-2" data-background-color="dark">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            ewaen
                            
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="https://app.ledgerscoin.com/dashboard/account-settings">
                                    <span class="link-collapse">Account Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item ">
                    <a href="https://app.ledgerscoin.com/dashboard">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item d-md-none  ">
                    <a href="https://app.ledgerscoin.com/dashboard/deposits">
                        <i class="fa fa-download " aria-hidden="true"></i>
                        <p>Fund your Account</p>
                    </a>
                </li>
                <li class="nav-item d-md-none  ">
                    <a href="https://app.ledgerscoin.com/dashboard/withdrawals">
                        <i class="fa fa-arrow-alt-circle-up " aria-hidden="true"></i>
                        <p>Withdraw Funds</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a href="https://app.ledgerscoin.com/dashboard/tradinghistory">
                        <i class="fa fa-signal " aria-hidden="true"></i>
                        <p>Profit Record</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="https://app.ledgerscoin.com/dashboard/accounthistory">
                        <i class="fa fa-briefcase " aria-hidden="true"></i>
                        <p>Transactions history</p>
                    </a>
                </li>
                                    <li class="nav-item ">
                        <a href="https://app.ledgerscoin.com/dashboard/asset-balance">
                            <i class="fa fa-coins" aria-hidden="true"></i>
                            <p>Crypto Exchange</p>
                        </a>
                    </li>
                                                
                <li class="nav-item  ">
                    <a data-toggle="collapse" href="#mpack">
                        <i class="fas fa-cubes"></i>
                        <p>Invest</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mpack">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="https://app.ledgerscoin.com/dashboard/buy-plan">
                                    <span class="sub-item">Subscribe to a Plan</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://app.ledgerscoin.com/dashboard/myplans">
                                    <span class="sub-item">My Investment</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>  
                <li class="nav-item ">
                    <a href="https://app.ledgerscoin.com/dashboard/referuser">
                        <i class="fa fa-recycle " aria-hidden="true"></i>
                        <p>Refer Users</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="https://app.ledgerscoin.com/dashboard/support">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                        <p>Help/Support</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->
        <div class="main-panel bg-dark">
			<div class="content bg-dark">
				<div class="page-inner">
					<div class="mt-2 mb-4">
					<h1 class="title1 text-light">Transactions on your account</h1>
					</div>
					<div>
    </div>					<div>
    </div>					<div class="mb-5 row">
					<div class="col text-center card p-4 bg-dark">
					    
					        <nav>
								<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
		
								  <h4 class="pt-3 nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#1" role="tab" aria-controls="nav-home" aria-selected="true"> Deposits</h4>
		
								  <h4 class="pt-3 nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#2" role="tab" aria-controls="nav-profile" aria-selected="false">Withdrawals</h4>
		
								  <h4 class="pt-3 nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#3" role="tab" aria-controls="nav-contact" aria-selected="false">Others</h4>
							    </div>
							</nav>
							
							<div class="px-3 py-3 tab-content px-sm-0" id="nav-tabContent">
		
								
								<div class="tab-pane fade show active bg-dark card p-3" id="1" role="tabpanel" aria-labelledby="nav-home-tab">
									<div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
        							<table id="UserTable" class="UserTable table table-hover text-light"> 
        									<thead> 
        										<tr> 
        											<th>Amount</th>
        											<th>Payment mode</th>
        											<th>Status</th> 
        											<th>Date created</th>
        										</tr> 
        									</thead> 
        									<tbody> 
        										        									</tbody> 
        								</table>
        							</div>
								</div>
		
								
								<div class="tab-pane fade p-3 bg-dark" id="2" role="tabpanel" aria-labelledby="nav-profile-tab">
									<div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
        							<table id="UserTable" class="UserTable table table-hover text-light"> 
        									<thead> 
        										<tr> 
        											<th>Amount requested</th>
        											<th>Amount + charges</th>
        											<th>Recieving mode</th>
        											<th>Status</th> 
        											<th>Date created</th>
        										</tr> 
        									</thead> 
        									<tbody> 
        										        									</tbody> 
        								</table>
        							</div>
								</div>
		
								
								<div class="tab-pane fade p-3 bg-dark" id="3" role="tabpanel" aria-labelledby="nav-contact-tab">
									<div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
        								<table id="UserTable" class="UserTable table table-hover text-light"> 
        									<thead> 
        										<tr> 
        											<th>Amount</th>
        											<th>Type</th>
        											<th>Plan/Narration</th>
        											<th>Date created</th>
        										</tr> 
        									</thead> 
        									<tbody> 
        									        										<tr> 
        											<td>$5</td> 
        											<td>Bonus</td> 
        											<td>SignUp Bonus</td> 
        											<td>Sun, Dec 5, 2021 11:49 PM</td> 
        										</tr> 
        									        									</tbody> 
        								</table>
        								
        							</div>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Submit MT4 MODAL modal -->
			<div id="submitmt4modal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
					<div class="modal-header bg-dark">
						<h4 class="modal-title text-light">Subscribe to subscription Trading</h4>
						<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			      </div>
			     	<div class="modal-body bg-dark">
              			<form role="form" method="post" action="https://app.ledgerscoin.com/dashboard/savemt4details">
							<input type="hidden" name="_token" value="VJdnwSYEPLT14XJ1QmFM8MQ5ojYUVuhYIav7ZeVN">							<div class="form-row">
								<div class="form-group col-md-6">
									<h5 class="text-light">Subscription Duration</h5>
									<select class="form-control bg-dark text-light" onchange="calcAmount(this)" name="duration" class="duration" id="duratn">
										<option value="default">Select duration</option>
										<option>Monthly</option>
										<option>Quaterly</option>
										<option>Yearly</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light">Amount to Pay</h5>
									<input class="form-control subamount bg-dark text-light" type="text" id="amount" disabled><br/>
									
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">MT4 ID*:</h5>
									<input class="form-control bg-dark text-light"  type="text" name="userid" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">MT4 Password*:</h5>
									<input class="form-control bg-dark text-light"  type="text" name="pswrd" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Account Type:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. Standard" type="text" name="acntype" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Currency*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. USD" type="text" name="currency" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Leverage*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. 1:500"  type="text" name="leverage" required>
								</div>
								<div class="form-group col-md-6">
									<h5 class="text-light ">Server*:</h5>
									<input  class="form-control bg-dark text-light" Placeholder="E.g. HantecGlobal-live"  type="text" name="server" required>
								</div>
								<div class="form-group col-12">
									<small class="text-light">Amount will be deducted from your Account balance</small>
								</div>
								<div class="form-group col-md-6">
									<input id="amountpay" type="hidden" name="amount">
					   				<input type="submit" class="btn btn-primary" value="Subscribe Now">
								</div>
							</div>
					   </form>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- /plans Modal -->
			<script type="text/javascript">
				function calcAmount(sub) {
					if(sub.value=="Quaterly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$40';
						amountpay.value = '40';
					}if(sub.value=="Yearly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$80';
						amountpay.value = '80';
					}if(sub.value=="Monthly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '$30';
						amountpay.value = '30';
					}
				}
				</script>	
					<footer class="footer bg-dark text-light">
					<div class="container-fluid">
						<div class="text-center row copyright text-align-center">
							<p>All Rights Reserved &copy; Ledgerscoin 2021</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

				<!--   Core JS Files   -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<script src="https://app.ledgerscoin.com/dash/js/core/popper.min.js"></script>
		<script src="https://app.ledgerscoin.com/dash/js/core/bootstrap.min.js "></script>
		<script src="https://app.ledgerscoin.com/dash/js/customs.js"></script>
		
		<!-- jQuery UI -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="https://app.ledgerscoin.com/dash/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

		<!-- jQuery Scrollbar -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js "></script>

		<!-- jQuery Sparkline -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/jquery.sparkline/jquery.sparkline.min.js "></script>

		<!-- Sweet Alert -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
		<!-- Bootstrap Notify -->
		<script src="https://app.ledgerscoin.com/dash/js/plugin/bootstrap-notify/bootstrap-notify.min.js "></script>
		
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.js"></script>

		<script src="https://app.ledgerscoin.com/dash/js/atlantis.min.js"></script>
		<script src="https://app.ledgerscoin.com/dash/js/atlantis.js"></script>

		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
			function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
			}
		</script>

		<script type="text/javascript">
			var badWords = [ 
				'<!--Start of Tawk.to Script-->',
				'<script type="text/javascript">', 
				'<!--End of Tawk.to Script-->'
						];
			$(':input').on('blur', function(){
				var value = $(this).val();
				$.each(badWords, function(idx, word){
					value = value.replace(word, '');
				});
				$(this).val( value);
			});
		</script>
		<script>
			$(document).ready( function () {
				$('#ShipTable').DataTable({
					order: [ [0, 'desc'] ],
					dom: 'Bfrtip',
					buttons: [
					'copy', 'csv', 'print', 'excel','pdf'
				] 
				});

				
				$(".dataTables_length select").addClass("bg-dark text-light");
				$(".dataTables_filter input").addClass("bg-dark text-light");
			} );
		</script>
		<script>
			$(document).ready( function () {
				$('.UserTable').DataTable({
					order: [ [0, 'desc'] ]
				});
				$(".dataTables_length select").addClass("bg-dark text-light");
				$(".dataTables_filter input").addClass("bg-dark text-light");
			} );
		</script>
				<!-- Livewire Scripts -->

<script src="/livewire/livewire.js?id=25f025805c3c370f7e87" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = 'VJdnwSYEPLT14XJ1QmFM8MQ5ojYUVuhYIav7ZeVN';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>
	    
</body>
</html>

