{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
 


    <div class="section-padding-90 wf-section">
    <div class="custom-container">
        <div class="crypto-about-intro">
            <h1 class="header-important">Everyone should have access to the future of money</h1>
            <div class="spacer-60"></div>
            <h1 class="highlight">We believe that everyone deserves an equal chance at financial success.</h1>
        </div>
    </div>
</div>
<div class="section-padding-60 wf-section">
    <div class="gradient-bg"></div>
    <div class="custom-container">
        <div class="our-story-container">
            <h2 class="our-story-title">Our story</h2>
            <p class="our-story-text">If we look back at the beginning of our experience as investors in Bitcoin, we had a hard time, due to all of the challenges in an unknown investment environment,<br>The lack of reliable information, the uncertainty, the volatility of
                the market, and our close-to-zero experience were some of the hurdles that we overcame.</p>
            <p class="our-story-text">Mirko has always been a transformational leader. He has worked in both large corporations and startups, finding success wherever he went. His life mission, “Give to everyone the same opportunity in life” fuels him in his businesses. He
                just realized how much time was needed to learn and understand this new investment opportunity.</p>
            <div class="our-story-text-important">
                <div class="vertical-block-filled"></div>
                <div class="text-important">
                    <h2>He saw a need to automate and democratize access to sophisticated investment products.</h2>
                </div>
            </div>
            <p class="our-story-text">At the same time, Daniela, driven by her intellectual curiosity, wanted to learn more about cryptocurrencies and, with Mirko’s help, she was able to invest her first 1,000 Euro. <br><br>She started to overwhelm Mirko with a lot of questions
                and she was not the only one.</p>
            <p class="paragraph-emphasis">What should I buy?<br>Where should I buy?<br>When is the right moment to buy or sell?<br>Can I re-convert Bitcoin in Euro?</p>
            <div class="our-story-text-important">
                <div class="vertical-block-filled"></div>
                <div class="text-important">
                    <h2>A lot of people didn’t have access to reliable information</h2>
                </div>
            </div>
            <p class="our-story-text">Mirko and Daniela had a lunch together with a mutual friend, Marcell. He had 3+ years of experience in blockchain / cryptocurrency and he was involved as NL country leader for a leading European VC fund focused on blockchain technology,
                Marcell’s challenge, as crypto investor, was the ability to remove emotions out of his strategy. If I could have a tool that automatically sets up my strategy and takes care of my investment, I could spend more time with my wife and
                two kids, knowing that someone else is working for my family’s wealth.</p>
            <h3>If you cannot control your emotions, you cannot control your money.</h3>
            <div class="spacer-60"></div>
            <div class="separator-block">
                <div class="separator"></div>
            </div>
            <div class="spacer-60"></div>
        </div>
        <div class="our-story-container final-part">
            <p class="paragraph-emphasis">That was the day when Blue Foxs Capital was founded</p>
            <p class="our-story-text">Blue Foxs Capital started to make investors’ lives easier. Through our secure and innovative platform we provide a solution to get into the crypto market without having to go through a long learning process. And now that we’ve bolstered our team
                with experience, <strong>we offer a proven strategy designed to help you invest in crypto more wisely, without any added hassle.</strong></p>
        </div>
    </div><img src="https://uploads-ssl.webflow.com/plugins/Image/assets/placeholder.60f9b1840c.svg" width="100" alt="" class="about-image">
</div>


  
</body>


{% endblock content %}
