{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  


    <div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="cover-image-faqs">
            <div class="header-card-label">
                <div class="header-card-container">
                    <div class="header-text-faqs">
                        <h2>How we can help you?</h2>
                        <h5 class="heading-23">Find all the information you need in our FAQs. If you need futher assistance feel free to contact us.</h5>
                        <div class="spacer-30"></div><a href="#details" class="link">Find answers &gt;</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="details" class="section-padding-60 wf-section">
    <div class="spacer-60"></div>
    <div class="custom-container">
        <div class="mini-faq">
            <div class="faq-section-title">
                <h3 class="heading-28">Getting into details</h3>
            </div>
            <div class="mini-faq-question-container">
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>What is Blue Foxs Capital?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Blue Foxs Capital is a an on-line cryptocurrency advisory service, targeting the General market. It is our primary aim to enable our customers to easily, safely, and responsibly invest in cryptocurrencies, like Bitcoin and Altcoins.
                            We support clients in setting up, allocating, diversifying, and monitoring their portfolio, while they maintain 100% ownership and control of their account and investment.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>What are the advantages of using Blue Foxs Capital?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">No learning curve, extensive research, or administration to get in the crypto investment world. We take care of all the effort needed. Blue Foxs Capital offers full transparency and customers maintain 100% ownership of their account
                            and money.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>How is the portfolio built?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">The portfolio is built by combining the deposit amount, the risk level and the current market conditions to maximize customer return. At Blue Foxs Capital we believe simple is genius, this is why we keep your input easy and we do the
                            hard work in the background.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>When will i receive my Blue Foxs Capital portfolio?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">After you have deposited funds to your personally owned trading account, the portfolio allocation is completed based on your personal preferences. Once the portfolio is complete you&#x27;ll be able to see it in your dashboard.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="separator-block">
            <div class="separator"></div>
        </div>
    </div>
</div>
<div class="section-padding-60 wf-section">
    <div class="custom-container">
        <div class="mini-faq">
            <div class="faq-section-title">
                <h3 class="heading-27"><strong>Settings</strong></h3>
            </div>
            <div class="mini-faq-question-container">
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>How can I send my money to make the investment?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">The deposit process is quick and hassle free. Simply login your account and navigate to the deposit page.
                            Deposit can be made using cryptocurrencies like Bitcoin, Ethereum, BNB, Litecoin and USDT.
                        </p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>Can I make a recurrent deposit?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Yes, you can add funds to your personal account anytime you like, and Blue Foxs Capital will automatically allocate them to your portfolio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="separator-block">
            <div class="separator"></div>
        </div>
    </div>
</div>
<div class="section-padding-60 wf-section">
    <div class="custom-container">
        <div class="mini-faq">
            <div class="faq-section-title">
                <h3 class="heading-27">Pricing</h3>
            </div>
            <div class="mini-faq-question-container">
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>What are Blue Foxs Capital’s fees?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">At Blue Foxs Capital we believe that full transparency brings trust, loyalty, and long-term engagement.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>How will I pay for the services?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">You will only be charged for realized profits. Whenever your account hits 10% profit, we will automatically secure the profit amount, send you an invoice for 15% of the realized profit, and increase the baseline to calculate
                            your next 10% profit. </p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>Is there any additional fees?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Not at all! At Blue Foxs Capital we understand how annoying is to have additional fees ruining your own investment. As a result, we have a strong company culture in providing full transparency to our customers upfront, so there will
                            be no surprises.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="separator-block">
            <div class="separator"></div>
        </div>
    </div>
</div>
<div class="section-padding-60 wf-section">
    <div class="custom-container">
        <div class="mini-faq">
            <div class="faq-section-title">
                <h3 class="heading-27">Investing</h3>
            </div>
            <div class="mini-faq-question-container">
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>What is the minimun can I invest?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">We want to give you the best trading experience. We highly recommend a minimum of investment based on the level of diversification of your portfolio. The diversification level defines the maximum number of different cryptocurrencies
                            that you’d like to have in your portfolio (low diversification up to 5, medium diversification up to 10, high diversification up to 20). To make sure all buy/sell orders will go through based on the portfolio balance we
                            recommend you to invest:<br>‍<br> - A minimum of USD 100 for a low diversified portfolio<br> - A minimum of USD 2,500 for a medium diversified portfolio<br> - A minimum of USD 4,000 for a highly diversified portfolio</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>Can I withdraw my money anytime?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Yes, you can. As per our value proposition, you literally have full ownership of your portfolio. So, you can withdraw money anytime you want, straight to your bank account. We will give you unlimited support, in case you need
                            any help in doing so.</p>
                    </div>
                    <div class="spacer-60"></div>
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>How to diversify my portfolio?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <p class="faq-paragraph">The diversification level defines the maximum number of different cryptocurrencies that you’d like to have in your portfolio (low 5, medium 10, high 20). A higher number of different currencies means including smaller coins in
                        terms of market cap, which generally is perceived as higher risk. We don’t provide financial advise, however considering past and recent market performance we believe ‘low’ is a good starting point.</p>
                    <div class="spacer-60"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="separator-block">
            <div class="separator"></div>
        </div>
    </div>
</div>
<div class="section-padding-60 wf-section">
    <div class="custom-container">
        <div class="mini-faq">
            <div class="faq-section-title">
                <h3 class="heading-27">Security</h3>
            </div>
            <div class="mini-faq-question-container">
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>How is Blue Foxs Capital regulated?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Blue Foxs Capital is not regulated as neither the company, nor its activities fall under any financial regulation requirement (e.g. AFM, DNB, wwft) as per Dutch and European law. Blue Foxs Capital thoroughly vets its partners and only works
                            with major “top-10” exchanges. User funds remain on their personal exchange account and interactions between Blue Foxs Capital and user accounts are connected by means of customer owned API keys.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>Are my data safe?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Blue Foxs Capital is fully compliant with GDPR (General Data Protection Regulation), an EU regulation enforceable as of May 25, 2018. Blue Foxs Capital stores the minimum possible amount of user data necessary to deliver its services. Stored
                            user data includes: name, date of birth, country of residence, email address, and exchange API keys (encrypted). User data will never be shared with any third party without explicit user consent. Users have the right for
                            their user data to be forgotten, which can be requested over email.</p>
                    </div>
                </div>
                <div class="spacer-60"></div>
                <div class="mini-faq-question-block">
                    <div class="mini-faq-question">
                        <div class="mini-faq-question-header">
                            <h5>What are the main security measures are in place?</h5>
                        </div>
                        <div class="mini-faq-question-icon">
                            <div class="icon-more"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd59849f259b63d8c701083_less.svg" alt="less icon"></div>
                            <div class="icon-less"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd58cee270b402dd5cd88c2_add.svg" alt="plus icon"></div>
                        </div>
                    </div>
                    <div class="mini-faq-answer">
                        <p class="faq-paragraph">Security is critical for any internet-based application, especially when money is involved. As such, Blue Foxs Capital:<br>-has strict policies and procedures in place to keep Blue Foxs Capital and its customers safe.<br>-runs on Google
                            Cloud, one of the largest and most trusted cloud providers, always up to date with the latest security standards. <br>-connects to customer accounts through API keys, for which permissions are carefully selected and limited
                            to avoid damage even in the highly unlikely event of a security breach.<br>-uses a ​sha256​ algorithm to store important customer data securely, and key data is stored separately.<br>-handles customer payments through
                            Stripe, one of the largest payment providers with the latest security measures in place (e.g anti-fraud)<br>-partners only with top-10 crypto exchanges such as Kraken, who maintain the latest security standards as well
                            as thorough KYC/AML procedures.<br></p>
                    </div>
                </div>
                <div class="spacer-60"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-90 wf-section">
    <div class="custom-container">
        <div class="contact-box">
            <div class="contact-box-container">
                <div class="contact-box-text"><img src="/static/5d8dc9a6884b1c2d9dab8c5c/5dd7a3663f3c69e2ac6041e2_illustration%20contact.svg" alt="contact icon" class="image-11"></div>
                <div class="contact-box-icon">
                    <h3>You didn’t find the answer for your issue?</h3>
                    <div class="spacer-30"></div><a href="mailto:" class="button-high-emphasis w-button">Contact us</a></div>
            </div>
        </div>
    </div>
</div>



</body>


{% endblock content %}
