{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>



    <div class="section-padding-0 wf-section">
    <div class="custom-container no-padding">
        <div class="cover-image-how-it-works">
            <div class="header-card-label">
                <div class="header-card-container">
                    <h1 class="container-title">Cryptocurrency investment strategy <span class="text-span">on autopilot.</span></h1>
                    <h5 class="heading-5">Other sites let you buy cryptocurrency. We help you invest in it. Blue Foxs Capital simplifies the trading experience by making it possible to manage your portfolio without interfacing directly with exchanges.<br>Set your strategy, we
                        take care of the rest.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding-90 wf-section">
    <div class="custom-container">
        <div class="crypto-knowledge">
            <div class="crypto-knowledge-title">
                <h1 class="container-crypto-knowledge">From zero crypto knowledge to <br>full-fledged crypto investor in minutes, <span class="text-span">all in one place.</span></h1>
            </div>
        </div>
        <div class="crypto-knowledge-collapser-block">
            <div class="crypto-knowledge-media">
                <div>
                    <h6 class="heading-24">2</h6>
                </div>
                <div class="step-block">
                    <h6 class="stepper-description">Set up your account</h6>
                    <a data-w-id="51c902ab-0fcf-6a6b-0889-5e25b0053ce5" style="background-color:rgb(80,60,230)" href="#" class="stepper---unselected w-inline-block">
                        <h6 class="heading-24">1</h6>
                    </a>
                </div>
                <div class="step-block step-3">
                    <h6 class="stepper-description">Relax, now it&#x27;s on us</h6>
                    <div data-w-id="c371da7e-f32b-735f-cc96-9f766c85039c" class="stepper---unselected">
                        <h6 class="heading-24">3</h6>
                    </div>
                </div>
                <div class="step-block step-2">
                    <h6 class="stepper-description">Define your strategy</h6>
                    <a data-w-id="f01620e7-6e13-21bb-ee43-cf5e3f697781" href="#" class="stepper---unselected w-inline-block">
                        <h6 class="heading-24">2</h6>
                    </a>
                </div>
                <div class="media-path"></div>
                <div class="media-path-current"></div>
                <div class="media-path-violet"></div>
            </div>
            <div style="opacity:1" class="crypto-setup-account-step-1">
                <div class="crypto-setup-details">
                    <h2>Set up your account</h2>
                    <p>Register for a Blue Foxs Capital account and connect it to your personal Kraken account through an API. We care about your safety. All user data is encrypted and we never have permission to sensitive actions like withdrawal.</p><a href="/user/signup/">Create your account &gt;</a></div>
                <div class="crypto-setup-details-image"><img src="home/assets/setup-1.png"></div>
        </div>
        <div class="crypto-setup-account-step-2">
            <div class="crypto-setup-details">
                <h2>Define your strategy</h2>
                <p>You can easily set up, update and test your strategy, in clicks. Change your diversifation, the rebalancing frequency, or your stop-loss percentage. Blue Foxs Capital is highly customizable.</p><a href="/user/signup/">Create your account &gt;</a></div>
            <div class="crypto-setup-details-image"><img src="home/assets/setup-1.png" width="463" alt="cryptocurrency investment strategy"></div>
    </div>
    <div class="crypto-setup-account-step-3">
        <div class="crypto-setup-details">
            <h2>Relax</h2>
            <p>Sit back, relax and watch your money on autopilot. While maintaining 100% ownership of your money and account, we take care of the effort needed to make you a smarter investor.</p><a href="/user/signup/">Create your account &gt;</a></div>
        <div class="crypto-setup-details-image"><img src="home/assets/setup-1.png" width="463" alt="cryptocurrency portfolio allocation"></div>
</div>
</div>
</div>
</div>
<div class="section-padding-30 wf-section" style="margin-bottom: 200px;">
    <div class="gradient-bg gradient-margin"></div>
    <div class="custom-container">
        <div class="just-few-control-block">
            <div class="just-few-control-title">
                <h1 class="text-center">Just few controls, all in one place.</h1>
                <h5 class="text-center">Investment strategy made as easy as only a few clicks to put your crypto investment in autopilot.</h5>
            </div>
            <div class="just-few-control-animation"><img src="home/assets/5ddb96b856a2d61d865f380d_Product%20hero%202-p-2000.png" sizes="(max-width: 767px) 90vw, (max-width: 991px) 100vw, 89vw" srcset="/home/assets/5ddb96b856a2d61d865f380d_Product,/home/assets/5ddb96b856a2d61d865f380d_Product,/home/assets/5ddb96b856a2d61d865f380d_Product,/home/assets/5ddb96b856a2d61d865f380d_Product,/home/assets/5ddb96b856a2d61d865f380d_Product,/home/assets/5ddb96b856a2d61d865f380d_Product" alt="how to buy bitcoin online with credit card" class="image-12"></div>
        </div>
    </div>
</div>














   
</body>


{% endblock content %}
