{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>



    <div class="section-padding-90 wf-section">
    <div class="custom-container w-container">
        <div class="contaner-reduced">
            <h2>Privacy policy</h2>
            <div class="article">
                <p>Last update: June 06, 2018<br>Blue Foxs Capital (“we”, “us”, “our”) is committed to protecting and respecting your privacy, and to meeting its data protection obligations under the General Data Protection Regulation (“GDPR”) and the DataProtection
                    Act 2018. This Privacy Statement is intended to describe our privacy practices and provide information about how and why we collect, use and share your personal information when you:visit https://bluefoxs.capital and any of its sub-domains
                    (&quot;our sites&quot;); and / or purchase or otherwise use our solutions, products and services (&quot;Services&quot;)<br><br>This Privacy Statement governs our data collection, processing and usage practices. It also describes
                    your choices regarding use, access and correction of your personal information.<br><br>We periodically update this Privacy Statement with any changes applicable and, in case the changes are significant, we will provide a more
                    prominent notice by sending you an email notification. While we will notify you of any material changes to this Privacy Statement, we encourage you to review this Privacy Statement periodically. We also archive all historical versions
                    of this Privacy Statement.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>Data protection principles</strong></h3>
                <p>Under the GDPR, there are six data protection principles that Blue Foxs Capital must comply with. These provide that the personal information we hold about you must be:</p>
                <ul role="list">
                    <li>processed lawfully, fairly and in a transparent manner;</li>
                    <li>collected only for legitimate purposes that have been clearly explained to you and not further processed in a way that is incompatible with those purposes;</li>
                    <li>adequate, relevant and limited to what is necessary in relation to those purposes;</li>
                    <li>accurate and, where necessary, kept up to date;</li>
                    <li>kept in a form which permits your identification for no longer than is necessary for those purposes;</li>
                    <li>processed in a way that ensures appropriate security of the data.</li>
                    <li>Blue Foxs Capital is responsible for, and must be able to demonstrate compliance with, these principles. This is called accountability.</li>
                </ul>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>Data we collect</strong></h3>
                <p>This Privacy Statement applies to all personal information which you give to us and / or which we collect automatically from you, either via our sites and / or our Services and / or which we receive about you from third parties.</p>
                <ul role="list">
                    <li>Personal data, or personal information, means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data).</li>
                    <li>Information that you provide to us by completing forms on our sites such as requests for quotes or online applications for free trials of our products / Services. Such information typically includes:<br>- Contact information,
                        such as your first name, last name, mailing address, phone number, and email address.<br>- Financial information, such as bank account numbers, credit card numbers and crypto currency account information.<br>- Biographic
                        or demographic information, such as your date of birth, country of residence, and any other information you choose to provide about yourself.</li>
                    <li>Information that you provide to us when you purchase a product / service via our sites or other means such as by telephone or e-mail. Such information typically includes your first name, last name, personal and / or professional
                        contact details, credit card details, billing address, as well as any contact or other information you choose to provide for us to undertake the Services;</li>
                    <li>Any other information which you choose to provide to us in the following circumstances: when you complete surveys conducted by us or third parties on our behalf; when you attend conventions, trade shows, and expositions; when you
                        participate in promotions, contests and giveaways; when you register for webcasts, events, request information or materials (e.g., whitepapers); and when you submit any questions, comments or complaints to us.</li>
                    </ul>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>How we collect your data</strong></h3>
                <p>We use different methods to collect data from and about you including through:<strong><br><br>Direct interactions</strong>. You may give us your Identity, Contact and Financial Data by filling in forms or by corresponding with us
                    through the Website, by email, post, phone, or otherwise. This includes personal data you provide when you: i. Fill a form on our website; ii. report a problem with our Website; iii. subscribe to our communications or publications;
                    iv. request marketing to be sent to you; v. enter a competition, promotion or survey; or vi. give us feedback; vii. Reply to our emails.<br><strong>Automated technologies or interactions.</strong> As you interact with our Website,
                    we may automatically collect Technical Data about your equipment, browsing actions and patterns through cookies, logs and other similar technologies.<br><strong>Third parties or publicly available sources.</strong> We may receive
                    personal data about you from third-parties and public sources as set out below: i. Technical Data from the following parties: 1. analytics providers such as Google 2. advertising networks based inside and outside the EU; and 3.
                    search information providers based inside and outside the EU. ii. Contact, Financial and Transaction Data from providers of technical, payment and delivery services.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>Cookies</strong></h3>
                <p>Technologies such as cookies (small text files that store information on your hard drive), beacons, tags and scripts are used by us and our affiliates, or analytics or service providers. These technologies are used in analyzing trends,
                    administering the Site, tracking users’ movements around the Site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual
                    as well as aggregated basis.<br>We use cookies, for example, to remember users’ settings (e.g. language preference) and for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies,
                    you may still use our Site, but your ability to use some features or areas of our Site may be limited.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>How we use your data</strong></h3>
                <ul role="list">
                    <li>Send information or Blue Foxs Capital content to you which we think may be of interest to you by post, email, or other means and send you marketing communications relating to our business (newsletter, invitation to webinar and / or events,
                        invitation to download marketing material such as whitepapers and case studies …). We will always give you the option to unsubscribe of any such communications.;</li>
                    <li>Promote use of our Services to you and share promotional and information content with you in accordance with your communication preferences;</li>
                    <li>Process and complete transactions, and send related information, including transaction confirmations and invoices;</li>
                    <li>Manage your use of the sites and / or Services, respond to enquiries and comments and provide customer service and support.</li>
                </ul>
                <p>Generally, we do not rely on consent as a legal basis for processing your personal data other than in relation to sending marketing communications to you via email or text message. You have the right to withdraw consent to marketing
                    at any time by utilising the unsubscribe feature in our communications or by contacting us at <a href="mailto:" target="_blank" class="link-2"></a>.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>Purposes we use your data</strong></h3>
                <p>To provide our Services, we use your data to:<br>‍</p>
                <ul role="list">
                    <li>Analyse data to improve our service offering;</li>
                    <li>Make decisions such as offering customers an account type change like for example an upgrade to VIP customer;</li>
                    <li>Send customers technical alerts, updates, security notifications, and administrative communications;</li>
                    <li>Send information to customers regarding changes to our Terms of Service, Privacy Policy or other legal agreements;</li>
                    <li>For any other purposes about which we will notify customers.</li>
                </ul>
                <p>We post customer testimonials and comments on our Websites, which may contain Personal Information. We obtain each customer&#x27;s consent via email prior to posting the customer&#x27;s name and testimonial.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>Retention of your data</strong></h3>
                <p>We retain Personal Information that you provide to us where we have an ongoing legitimate business need to do so (for example, as long as is required in order to contact you about the Subscription Service or our other services, or
                    as needed to comply with our legal obligations, resolve disputes and enforce our agreements).<br><br>When we have no ongoing legitimate business need to process your Personal Information, we securely delete the information or
                    anonymize it or, if this is not possible, we will securely store your Personal Information and isolate it from any further processing until deletion is possible.<br><br>If you have elected to receive marketing communications
                    from us, we retain information about your marketing preferences for a period of 6 months from the date you expressed to opt out from further communication.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>How to Access &amp; Control Your Personal Data</strong></h3>
                <p>Under certain circumstances, you have rights under data protection laws in relation to your personal data, such as to:</p>
                <p>a. Access any personal data that we hold about you and/or to get a copy of it.<br>b. Request to correct any inaccurate data;<br>c. Ask us to delete, &#x27;block&#x27; or suppress your data, though for legal reasons we might not always
                    be able to do it;<br>d. Object to us using your personal data for direct marketing and in certain circumstances for legitimate interests, research and statistical reasons;<br>e. Withdraw any consent you’ve previously given us.</p>
                <p>To request any of the above actions, please contact us at <a href="mailto:" target="_blank" class="link-3"></a>.</p>
            </div>
        </div>
    </div>
</div>


   
</body>


{% endblock content %}
