{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>



    <div class="section-padding-0 wf-section">
    <div class="custom-container w-container">
        <div class="spacer-60"></div>
        <div class="contaner-reduced">
            <h2>Terms and condition</h2>
            <div class="article">
                <h3 class="tiles-with-margin"><strong>1. Objectives</strong></h3>
                <p>It is the goal of Blue Foxs Capital B.V., De Laan 3, 6611HA Overasselt, The Netherlands (“Blue Foxs Capital”), to help users enter and navigate the cryptocurrency space, and provide tools to help users make their own sound decisions relative to growing
                    their wealth. Services are intended for medium- and long-term investors.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">2. Activities</h3>
                <p>2.1 Asset allocation<br><br>Blue Foxs Capital uses dynamic, proprietary algorithms to define and perform portfolio allocation, based on user input. Manual trades or transactions conducted by users may limit Blue Foxs Capital&#x27;s account monitoring
                    and reporting ability.<br><br>2.2 Fund deposits and withdrawals
                    <br><br>Users are responsible for depositing and withdrawing funds to/from their account, however Blue Foxs Capital will provide clear instructions on how to do so.<br><br>2.3 Account monitoring and reporting
                    <br><br>Blue Foxs Capital will continuously monitor user accounts and provide users with a monthly dashboard with easy-to-understand portfolio and performance details.</p>
            </div>
            <!--<div class="article">-->
            <!--    <h3 class="tiles-with-margin">3. Fees</h3>-->
            <!--    <p>3.1 Fee structure<br /><br />Blue Foxs Capital offers different plans: freemium, and performance fee. The freemium plan is totally free and offers limited functionality. <br />If you choose the performance fee plan, you pay a one-off set-up-->
            <!--        fee of Eur 59, after which we won&#x27;t charge you anything until you hit 10% profit. The moment that happens Blue Foxs Capital will charge you a 5% performance fee over the realized gains, and the baseline is set to the portfolio value.-->
            <!--        For example: you invest Eur 5,000 and after a while your portfolio is worth Eur 5,500 (10% profit). You will receive an invoice for the amount of Eur 25 (500 profit * 15%), and the baseline is set to Eur 5,500. To hit 10% again,-->
            <!--        your portfolio needs to reach Eur 6,050 (5,500 + 10%).-->
            <!--        <br /><br />Our customers especially like the no-profit-no-pay model as it means that Blue Foxs Capital only gets paid if the customer wins. We like this also!<br /><br />3.2 Promotions<br /><br />Blue Foxs Capital reserves the right to apply-->
            <!--        promotional discounts to the fees listed under 3.1. This is completely at Blue Foxs Capital’s discretion.-->
            <!--        <br /><br />3.3 Other fees<br /><br />Blue Foxs Capital does not charge any additional or hidden fees. For any transaction or trading fees that may be charged by cryptocurrency exchanges and/or banks, users accept full responsibility.</p>-->
            <!--</div>-->
            <div class="article">
                <h3 class="tiles-with-margin">3. Security</h3>
                <p>4.1 Infrastructure<br><br>Blue Foxs Capital is powered by Google Cloud. Google Cloud helps reducing the cost, complexity, and risk associated with security and compliance in the cloud.<br><br>4.2 Exchanges
                    <br><br>Blue Foxs Capital thoroughly vets its partners and only works with major “top-10” exchanges. User funds remain on their personal exchange account and interactions between Blue Foxs Capital and user accounts are performed by means of
                    customer owned API keys. API access is limited, hence in the unlikely event of a security breach, no fund withdrawal can take place.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">4. Disclaimer</h3>
                <p>5.1 Financial advice<br><br>Blue Foxs Capital does not provide financial advice. Blue Foxs Capital is not a Registered Investment Advisor, Broker/Dealer, Financial Analyst, Bank, Securities Broker, Commodity Trade Advisor, or Financial Planner.
                    The information provided, such as optimal fund allocation, is based on user input and for information purposes only. The Information is not intended to be and does not constitute financial advice or any other advice, is general
                    in nature and not specific to you. Before using Blue Foxs Capital, users should seek the advice of a qualified investment professional and undertake their own due diligence. Blue Foxs Capital is not responsible for any investment decision made
                    by users. <br><br>5.2 Warranties<br><br>Blue Foxs Capital disclaims to the full extent authorized by law any and all warranties, whether express or implied, including, without limitation, any implied warranties, merchantability
                    or fitness for a particular purpose. Blue Foxs Capital does not warrant that its services and applications will be free of bugs, errors, viruses or other defects, nor that trade results will be profitable.<br><br>5.3 Liability<br><br>In no event can Blue Foxs Capital or any of its owners be liable to users or any party related to users for any indirect, incidental, consequential, special, exemplary, or punitive damages, lost profits, or losses, even if Blue Foxs Capital
                    has been advised of the possibility of such damages. In any event, Blue Foxs Capital’s total aggregate liability to users for all damages of every kind and type (regardless of whether based in contract or tort) shall not exceed the fees
                    paid to Blue Foxs Capital for the use of our services or applications.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">5. Risks</h3>
                <p>Investing in any asset class, including crypto currencies, holds numerous risks, for example: technology risks, exchange risks, security risks, regulatory risks. Before deciding to leverage Blue Foxs Capital services, users should carefully
                    consider their investment objectives and risk appetite. The possibility exists that users lose some or all of their initial investment and therefore no money should be invested that users cannot afford to lose.<br><br>As with
                    any market, for a transaction to happen it requires a seller, a buyer, and a price agreement. Loss-limiting strategies such as stop-loss orders may not be effective because market conditions or technological issues may make it
                    impossible to execute stop-loss orders. Blue Foxs Capital is not responsible for any losses incurred as a result of using Blue Foxs Capital’s advisory services.<br>‍</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">6. Privacy</h3>
                <p>Blue Foxs Capital is fully compliant with GDPR (General Data Protection Regulation), an EU regulation enforceable as of May 25, 2018. Blue Foxs Capital stores the minimum possible amount of user data necessary to deliver its services. Stored user
                    data includes: name, date of birth, country of residence, email address, and exchange API keys (encrypted). User data will never be shared with any third party before explicit user consent. Users have the right for their user data
                    to be forgotten, which can be requested over email.</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">7. Withdrawal policy/Fees</h3>
                <p>User are required to complete a minimum trading period of Twenty-one(21) Days to be eligible to initiate a withdrawal. you'll be charged a 10% withdrawl commission on realized profit to process your withdrawl 
                    User who is actively Copy trading  expected to have settled trading commissions to Copy trader and be Unsubscribed before initiating a withdrawal..</p>
            </div>
            <div class="article">
                <h3 class="tiles-with-margin">8. Communication</h3>
                <p>The User understands and agrees to the preceding sections. The User also agrees to the following:</p>
                <ul role="list">
                    <li>User agrees to not hold Blue Foxs Capital liable for any realized trading loss in any currency or asset;</li>
                    <li>User reserves the right to stop using Blue Foxs Capital at any point;</li>
                    <li>User agrees and warrants that any information provided to Blue Foxs Capital is accurate and complete;</li>
                    <li>User agrees that Blue Foxs Capital is offering a Software as a Service (SaaS). This means that Blue Foxs Capital monitors user accounts on users’ behalf on exchanges that are not affiliated with Blue Foxs Capital;</li>
                    <li>User agrees to take full responsibility for identifying and paying any tax liabilities that may exist as a result of trading, or Blue Foxs Capital services in general;</li>
                    <li>This agreement is governed by and construed in accordance with the Dutch law and any dispute, which cannot be amicably resolved, shall be submitted to the jurisdiction of the Court in the Netherlands;</li>
                    <li>Blue Foxs Capital reserves the right to terminate or deny service to anyone, at any time, for any reason.</li>
                </ul>
            </div>
        </div>
    </div>
</div>



</body>

{% endblock content %}
